body{
    height: 1000px;
    background-image: linear-gradient(145deg, #ee82ee, slateblue, #ffd86a, purple);
}

input[type="text"]{
    font-size: 25px;
    background-color: #ffffff5c;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
}

input[type="button"]{
    font-size: 25px;
    background-color: rgb(2, 36, 2);
    color: white;
    border-radius: 15px;
    padding: 5px 10px;
}

h1{
    color: white;
}

#block{
    margin: 50px;
    width: 500px;
    height: 200px;
    background-color: #ee82ee;
}